window#waybar {
  background-color: #222;
  color: #fff;
  font-family: Unifont, monospace;
  font-size: 20px;
}

#workspaces {
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  color: #555;
}

#workspaces button.focused {
  color: #fff;
  background-color: #444;
}

#workspaces button.active {
  color: #fff;
}

#workspaces button.urgent {
  color: #e61;
}

.modules-right {
  padding-right: 16px;
}
